curl -u 'BAF2FFEB1637F9A4F735:pitwPkiXLDYQnQrJWDo618q2REVnxVuNZ2AM2Bq2' -X POST -H 'Accept: application/json' -H 'Content-Type: application/json' -d '{"name":"{{ container_name}}", "system":false, "dockerCompose":"{ \"version\": \"2\", \"services\": { \"{{ container_name }}\": { \"image\": \"freepsw/launchbag-juypter-r:v0.1.1\", \"stdin_open\": true, \"tty\": true, \"ports\": [ \"{{ jupyter_port}}:8888/tcp\" ], \"command\": [ \"start-notebook.sh\", \"--NotebookApp.token=\" ], \"labels\": { \"io.rancher.container.pull_image\": \"always\" } } } }", "rancherCompose":"{ \"version\": \"2\", \"services\": { \"{{ container_name}}\": { \"scale\": 1, \"start_on_create\": true } } }", "startOnCreate":true, "binding":null}' 'http://{{ hostvars['rancher']['ansible_ssh_host'] }}:8080/v2-beta/projects/1a5/stacks'
